
/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
    width: 100%;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    overflow-y: auto
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    padding: 12px;
    margin: 0 16px 0 0px;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    padding: 0px 10px 0 10px;
    border-radius: 3px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.col-md-1{
    width:8.33%;
}
.col-md-2{
    width:16.66%;
}
.col-md-3{
    width:25%;
}
.col-md-4{
    width:33.33%;
}
.col-md-5{
    width:41.66%;
}
.col-md-6{
    width:50%;
}
.col-md-7{
    width:58.33%;
}
.col-md-8{
    width:66.66%;
}
.col-md-9{
    width:75%;
}
.col-md-10{
    width:83.33%;
}
.col-md-11{
    width:91.66%;
}
.col-md-12{
    width:100%;
}
@media only screen and (max-width: 480px) {

    html {
        font-size: 15px;
    }
    
    .compose {
        display: flex;
        flex-shrink: 0;
        margin-top: 16px;
        padding: 10px;
    }
    
    .compose form {
        display: flex;
        flex-grow: 1;
        margin-right: 16px;
    }
    
    .compose input {
        border: 1px solid #eeeeee;
        padding: 12px;
        margin: 0 0px 0 0px;
        flex-grow: 1;
    }
    
    .compose button {
        font-size: 12px;
        padding: 5px 10px 5px 10px;
        border-radius: 3px;
    }

    input {
        font-size: 15px;
        width:100%;
    }

    .message {
        margin-bottom: 16px;   
    }
    
    .message__name {
        font-weight: 600;
        font-size: 15px;
        margin-right: 8px;
    }
    
    .message__meta {
        color: #777;
        font-size: 15px;
    }
    
    .message a {
        color: #0070CC;
    }

    button {
        cursor: pointer;
        padding: 5px;
        background: #7C5CBF;
        border: none;
        color: white;
        font-size: 14px;
        transition: background .3s ease;
        border-radius: 3px;
    }

    .col-xs-1{
        width:8.33%;
    }
    .col-xs-2{
        width:16.66%;
    }
    .col-xs-3{
        width:25%;
    }
    .col-xs-4{
        width:33.33%;
    }
    .col-xs-5{
        width:41.66%;
    }
    .col-xs-6{
        width:50%;
    }
    .col-xs-7{
        width:58.33%;
    }
    .col-xs-8{
        width:66.66%;
    }
    .col-xs-9{
        width:75%;
    }
    .col-xs-10{
        width:83.33%;
    }
    .col-xs-11{
        width:91.66%;
    }
    .col-xs-12{
        width:100%;
    }
}
